/* Thread */

  #thread-messages .icon-encrypted,
  #thread-message  .icon-encrypted,
  #thread-reply    .icon-encrypted { color: @green; }
  #thread-messages .icon-unencrypted,
  #thread-message  .icon-unencrypted,
  #thread-reply    .icon-unencrypted { color: @orange; }
  #thread-messages .icon-unencrypted,
  #thread-message  .icon-unencrypted,
  #thread-reply    .icon-unencrypted { color: @grayMid; }


/* Thread Title */	

  #thread-title {
    text-align: center;
    padding: 10px 0 5px 0;
    background: @grayLight;
    border-bottom: 1px solid @gray;
  }

  #thread-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
  }

  #thread-title ul {
    display: inline-block;
    margin: 0 auto;
  }

  #thread-title ul li {
    margin-right: 15px;
  }

  #thread-title ul a {
    color: @gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
  }

  #thread-title ul a:hover {
    color: @grayDark;
  }


/* Thread Items */

  .thread-snippet {
    border-bottom: 1px solid @gray;
  }

  .thread-snippet:hover {
    background: @grayLight;
    cursor: pointer;
  }

  .thread-snippet:hover .feedback-expand {
    display: block;
  }

  .thread-message {
    border-bottom: 1px solid @gray;
  }

  .thread-line-subject {
    
  }

  .thread-item-metadata {
    width: 100%;
    display: table;
  }

  .thread-item-from {
    min-width: 175px;
    max-width: 200px;
    display: table-cell;
    padding-top: 15px;
    padding-left: 15px;
  }

  .thread-item-from a.avatar {
    float: left;
    margin-right: 10px;
  }
  
  .thread-item-from a.avatar img {
    width: 45px;
  }
  
  .thread-item-from a.name {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    color: @grayDark;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
  }

  .thread-item-from span.icon {
    float: left;
    font-size: 14px;
  }

  .thread-item-details {
    width: 200px;
    display: table-cell;
    vertical-align: top;
    text-align: right;    
    padding-top: 15px;
    padding-right: 15px;
  }

  .thread-item-details span.datetime {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: @gray;
    line-height: 14px;
  }

  .thread-item-details span.datetime.message {
    color: @grayDark;
  }

  .feedback-expand {
    display: none;
    color: @gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
  }
  
  .thread-item-text {
    max-width: 90%;
    margin-left:15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }


  .thread-item-data-encrypted {
    margin-bottom: 10px;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: @green;
    text-transform: uppercase;
  }




	
	.message-email-address {
	  display: inline-block;
	  vertical-align: middle;
	  color: @grayDark;
	  border-radius: 3px;
	  margin: 0 5px;
	  padding: 0px;
	  padding-right: 5px;
	  font-weight: normal;
	  background: @grayLight;
	  border: 1px solid @grayMid;
          max-height: 24px;
  }
	
	.message-email-address:hover {
    color: @red;
  }

	.message-email-address img {
     width: 24px;
     height: 24px;
     margin-right: 5px;
     display: inline-block;
  }

	.message-body {
	  padding: 15px;
  	font-size: 14px;
  	line-height: 18px;
	}
	
	.message-attachments {
  	
	}

  .message-actions form {
    float: left;
    margin-right: 15px;
  }
